
.blog-header {
  margin-top: 80px;
  font-size: calc(1rem + 3vw);
  margin-left: 20%;
}
.blog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  text-align: center;
  background-color: #e2e2e2;
}

.blog-post-wrapper {
  width: 80%;
  text-align: justify;
}

.blog-post-wrapper {
  font-size: 20px;
  padding: 30px;
}

.blog-business-pic {
  background-image: url("../img/business-covid.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}
.blog-business-pic-two {
  background-image: url("../img/blog-pic.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}
