


.design-landing-wrapper {
  position: relative;
  width: 100%;
  background-image: url("../img/unicycle.png");
  background-position: center;
  background-size: cover;
  height: 60vh;
  margin-top: 60px;

}

.design-landing-text {
  color: black;
  font-size: 70px;
  position:absolute;
  left: 8%;
  top: 20%;
  font-weight: 600;
}

.process-wrapper {
  text-align: center;
  margin-top: 30px;
}

.process-header {
  font-size: calc(1rem + 3vw);
  font-weight: bold;
}

.parallax-item {
  height: 100px !important;
  margin-top: 50px;
  /* background-color: yellow; */


}

.case-study-wrapper {
  margin-top: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-study-button {
  background-color: #CD3333;
  padding: 20px;

}

.case-study-linker {
  text-decoration: none !important;
  color: white;
  font-size: calc(1rem + .1vw);
  padding: 10px 20px 10px 20px;
}
