/* screen - ux-design */

.ux-design {
  background-color: var(--white);
  height: 3649px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.ux-design .unicycler2-CT5fxG {
  background-color: transparent;
  height: 751px;
  left: 293px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 1335px;
}

.ux-design .foot-CT5fxG {
  background-color: transparent;
  height: 175px;
  left: 170px;
  position: absolute;
  top: 3319px;
  width: 1660px;
}

.ux-design .icons-U7rwpn {
  background-color: transparent;
  bottom: 0px;
  height: 17px;
  position: absolute;
  right: calc(48.80% - 65px);
  width: 133px;
}

.ux-design .textlabel-x6gKiy {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 3.75px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ux-design .span0-JFDtI0 {
}

.ux-design .span1-JFDtI0 {
}

.ux-design .span2-JFDtI0 {
}

.ux-design .text-U7rwpn {
  background-color: transparent;
  bottom: calc(28.21% - 5px);
  height: 19px;
  left: calc(50.00% - 202px);
  position: absolute;
  width: 404px;
}

.ux-design .x2021-simonton-d-rights-reserved-CHshKB {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 19.2px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ux-design .logo-U7rwpn {
  background-color: transparent;
  height: 19px;
  left: calc(50.00% - 55px);
  object-fit: cover;
  position: absolute;
  top: calc(43.59% - 8px);
  width: 110px;
}

.ux-design .line-U7rwpn {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ux-design .line-JJWkla {
  background-color: var(--celeste);
  height: 100%;
  left: 0px;
  opacity: 0.5;
  position: relative;
  top: 0px;
  width: 100%;
}

.ux-design .ux-design-CT5fxG {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 80px;
  position: absolute;
  text-align: left;
  top: 329px;
  width: 540px;
}

.ux-design .our-process-CT5fxG {
  background-color: transparent;
  height: auto;
  left: 639px;
  letter-spacing: 0.00px;
  line-height: 80px;
  position: absolute;
  text-align: left;
  top: 1039px;
  width: 657px;
}

.ux-design .widget-wrapper-CT5fxG {
  background-color: transparent;
  height: 133px;
  left: 900px;
  overflow: hidden;
  position: absolute;
  top: 1144px;
  width: 133px;
}

.ux-design .screen-shot-202-22-at-102238-am-HMqkL0 {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-xZ6dng {
  background-color: transparent;
  height: 227px;
  left: 276px;
  overflow: hidden;
  position: absolute;
  top: 1316px;
  width: 845px;
}

.ux-design .empathize2-Z260UK {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-xeXsi0 {
  background-color: transparent;
  height: 269px;
  left: 669px;
  overflow: hidden;
  position: absolute;
  top: 1397px;
  width: 999px;
}

.ux-design .ideate-pY66R2 {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-VxXme7 {
  background-color: transparent;
  height: 388px;
  left: -260px;
  overflow: hidden;
  position: absolute;
  top: 1430px;
  width: 1443px;
}

.ux-design .wireframing-72jOo9 {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-VHjqsx {
  background-color: transparent;
  height: 311px;
  left: 730px;
  overflow: hidden;
  position: absolute;
  top: 1560px;
  width: 1156px;
}

.ux-design .mockup-xoJ5C2 {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-FcIHCE {
  background-color: transparent;
  height: 245px;
  left: 162px;
  overflow: hidden;
  position: absolute;
  top: 1709px;
  width: 912px;
}

.ux-design .prototype-Vo4FZ1 {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-JArohK {
  background-color: transparent;
  height: 467px;
  left: 390px;
  overflow: hidden;
  position: absolute;
  top: 1754px;
  width: 1736px;
}

.ux-design .test-7xsW1l {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-YCUp9O {
  background-color: transparent;
  height: 299px;
  left: -13px;
  overflow: hidden;
  position: absolute;
  top: 2006px;
  width: 1112px;
}

.ux-design .iterate-i2aE8a {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .widget-wrapper-RB47e2 {
  background-color: transparent;
  height: 451px;
  left: 122px;
  overflow: hidden;
  position: absolute;
  top: 2120px;
  width: 1677px;
}

.ux-design .test-more-6Yu4xA {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.ux-design .screen-shot-202-22-at-92623-am-CT5fxG {
  background-color: transparent;
  height: 748px;
  left: 472px;
  object-fit: cover;
  position: absolute;
  top: 2571px;
  width: 711px;
}

.ux-design .path-3-CT5fxG {
  background-color: transparent;
  height: 97px;
  left: 1105px;
  object-fit: cover;
  position: absolute;
  top: 2892px;
  width: 563px;
}

.ux-design .see-our-ux-case-studies-CT5fxG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1121px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 2923px;
  width: 524px;
}

.ux-design .desktop-top-menu-CT5fxG {
  background-color: transparent;
  cursor: pointer;
  height: 44px;
  left: 75px;
  position: absolute;
  top: 54px;
  width: 1702px;
}

.ux-design .simonton-designs-llc-5OgATl {
  background-color: transparent;
  height: 46px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 499px;
}

.ux-design .home-5OgATl {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 31px;
  left: calc(49.28% - 47px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  width: 95px;
}

.ux-design .portfolio-5OgATl {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(37.90% - 57px);
  text-align: left;
  width: 151px;
}

.ux-design .ux-design-5OgATl {
  background-color: transparent;
  bottom: 0px;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(22.88% - 33px);
  text-align: left;
  width: 144px;
}

.ux-design .blog-5OgATl {
  background-color: transparent;
  bottom: -2px;
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 200px;
  text-align: left;
  width: 91px;
}

.ux-design .contact-5OgATl {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 31px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  width: 138px;
}
